<h1>New item</h1>

<%= form_for(@item , dashboard_admin_items_path, :method => 'post') do |f| %>
	名稱<%= f.text_field :name %>
	價格<%= f.number_field :price %>
	<buttom type="submit">送出</buttom>
<% end %>

